{% extends "base.html" %}
{% block title %} Latest Events {% endblock %}

{% load staticfiles %}


{% block content %}

<h1>#TheAuditTrail</h1>

<h2>Sections</h2>
<table class="table">
    <tr>
    <th>Region</th>
    <th>Section Index</th>
    <th>Available?</th>
    <th>Actions</th>
    </tr>
    {% for section in sections %}
    <tr class="{%if section.completed %}success{% elif section.user %}warning{%else%}danger{% endif %}">
        <td>{%if section.region.url %}<a href="{{section.region.url}}">{{section.region.name}}</a>{%else%}{{section.region.name}}{%endif%}</td>
        <td>{{section.index}}</td>    
        <td>{% if section.user and section.completed %} Completed by {{section.user }} {% elif section.user %} Reserved by {{section.user }} {%else%} Available {%endif%}</td>
        <td>
            {% if user == section.user and section.completed %} Un-mark as Completed {% elif section.completed %}  {% elif user == section.user %} Mark as Completed {% elif user.is_authenticated %} Reserve Section {% else %} <a href="/accounts/login"> Login </a> {% endif %}
    </tr>
    {% endfor %}
</table>

<div style="width: 300px">
    <h3>Key:</h3>
    <table class="table">
        <tr class="success"><th>Section Completed</th></tr>
        <tr class="warning"><th>Section Reserved</th></tr>
        <tr class="danger"><th>Section Available</th></tr>
    </table>
</div>

{% endblock %}
