{% extends "base.html" %}
{% block title %} Latest Events {% endblock %}

{% load staticfiles %}


{% block content %}

<h1>#TheAuditTrail</h1>

<h2>Sections</h2>
<table class="table">
    <tr>
    <th>Region</th>
    <th>Section Index</th>
    <th>Available?</th>
    </tr>
    {% for section in sections %}
    <tr class="{%if section.completed %}success{% elif section.user %}warning{%else%}danger{% endif %}">
        <td>{{section.region.name}}</td>
        <td>{{section.index}}</td>    
        <td>{% if section.user and section.completed %} Completed by {{section.user }} {% elif section.user %} Taken by {{section.user }} {%else%} Available {%endif%}</td>
    </tr>
    {% endfor %}
</table>

<div style="width: 300px">
    <h3>Key:</h3>
    <table class="table">
        <tr class="success"><th>Section Completed</th></tr>
        <tr class="warning"><th>Section Reserved</th></tr>
        <tr class="danger"><th>Section Available</th></tr>
    </table>
</div>


{% endblock %}
